---
import "../styles/style_sp.css";

import Trailer from "./_trailer.mp4";
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Project Mothership Secret Page</title>
</head>

<body class="text-gray-800 flex items-center justify-center min-h-screen">
<main class="p-4 rounded-lg shadow-md text-center w-full max-w-md md:max-w-lg lg:max-w-2xl font-sans">
    <h1
            class="alientitle text-5xl sm:text-7xl lg:text-9xl break-words"
            id="typewriter"
    >
    </h1>
    <div class="mb-6 flex justify-around">
        <button
                id="yes"
                class="button yes alientitle w-1/3 sm:w-1/4"
                style="display: none;"
        >
            Yes
        </button>
        <button
                id="no"
                class="button no alientitle w-1/3 sm:w-1/4"
                style="display: none;"
        >
            No
        </button>
    </div>

    <div id="video-container" style="display: none;" class="mb-6">
        <video controls preload="metadata" class="w-full h-auto aspect-video">
            <source src={Trailer} type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
        <button
                id="share-button"
                class="button share w-full mt-4 py-2 text-lg"
        >
            Share this page
        </button>
        <p
                id="confirmation-text"
                style="display: none; color: green; font-weight: bold;"
        >
            Link copied to clipboard!
        </p>
    </div>

    <a
            href="/"
            class="alientitle text-blue-500 hover:text-blue-700 font-semibold block mt-4"
    >
        Back to the main page
    </a>
</main>
</body>

<script>
    let yes_btn = document.getElementById("yes") as HTMLButtonElement;
    let no_btn = document.getElementById("no") as HTMLButtonElement;
    let share_btn = document.getElementById("share-button") as HTMLButtonElement;
    const text = "Are you ready to save the mothership?";
    const typewriter = document.getElementById("typewriter");
    let i = 0;
    let isReplacingFont = false;
    let font = "Chakra Petch";
    let video_container = document.getElementById("video-container");
    const video = document.querySelector("#video-container video") as HTMLVideoElement;

    /* TypeWriter */
    function typeWrite() {
        if (i < text.length) {
            if (!isReplacingFont) {
                typewriter.innerHTML += `<span>${text.charAt(i)}</span>`;
            }
            i++;
            setTimeout(typeWrite, 80);
        } else {
            yes_btn.style.display = "block";
            no_btn.style.display = "block";

            if (isReplacingFont) {
                replaceFont();
            }
        }
    }

    function replaceFont() {
        let spans = typewriter.querySelectorAll("span");
        let j = 0;

        function changeFont() {
            if (j < spans.length) {
                spans[j].style.fontFamily = font;
                j++;
                setTimeout(changeFont, 80);
            }
        }

        changeFont();
    }

    function resetTypewriter() {
        i = 0;
        isReplacingFont = false;
        typewriter.innerHTML = "";
    }

    function startTypewriter(replaceFont = false) {
        if (replaceFont) {
            isReplacingFont = true;
        } else {
            resetTypewriter();
        }
        typeWrite();
    }

    typeWrite();

    function showVideo() {
        video_container.style.display = "block";
        startTypewriter(true);
        yes_btn.style.fontFamily = font;
        no_btn.style.fontFamily = font;
        share_btn.style.fontFamily = font;
    }

    function hideVideo() {
        if (video) {
            video.pause();
            video.currentTime = 0;
            video.load();
        }
        video_container.style.pointerEvents = "none";
        video_container.style.opacity = "0.5";
        font = "GalacticoBasic";
        startTypewriter(true);
        yes_btn.style.fontFamily = font;
        no_btn.style.fontFamily = font;
        share_btn.style.fontFamily = font;
        yes_btn.disabled = true;
        no_btn.disabled = true;
        share_btn.disabled = true;
    }

    function copyLink() {
        const url = window.location.href;
        navigator.clipboard
            .writeText(url)
            .then(() => {
                const confirmationText = document.getElementById("confirmation-text");
                confirmationText.style.display = "block";

                setTimeout(() => {
                    confirmationText.style.display = "none";
                }, 3000);
            })
            .catch((err) => {
                console.error("Failed to copy the link:", err);
            });
    }

    yes_btn.addEventListener("click", () => {
        showVideo();
    });
    no_btn.addEventListener("click", () => {
        hideVideo();
    });
    share_btn.addEventListener("click", () => {
        copyLink();
    });
    try {
        let track_event = import("./lib/supabase").trackEvent as (event: string, additionalData?: any) => Promise<void>;
        if (!track_event) throw Error("could not load event tracker");
        else console.log("event tracker loaded");

        /* Statistics */
        document.addEventListener("DOMContentLoaded", () => {
            track_event("page_view");
        });

        yes_btn.addEventListener("click", () => {
            track_event("button_click_yes", {button: "yes"});
            showVideo();
        });

        no_btn.addEventListener("click", () => {
            track_event("button_click_no", {button: "no"});
            hideVideo();
        });

        share_btn.addEventListener("click", () => {
            track_event("share_button_click");
            copyLink();
        });

        video.addEventListener("play", () => {
            track_event("video_start", {
                video: "Post6",
            });
        });

        video.addEventListener("pause", () => {
            track_event("video_pause", {
                video: "Post6",
                currentTime: video.currentTime,
            });
        });

        video.addEventListener("ended", () => {
            track_event("video_end", {
                video: "Post6",
                totalPlayed: video.duration,
            });
        });

        const backToMainLink = document.querySelector('a[href="/"]');
        backToMainLink.addEventListener("click", () => {
            track_event("back_to_main_click");
        });
    } catch {}
</script>
</html>
