---
import '../styles/style.css';
import LocaleSwitcher from "../components/LocaleSwitcher.astro";
import { astroI18n, t, l } from "astro-i18n"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Website of the souls-inspired, cooperative rogue-like Project Mothership" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	</head>
	<body class="bg-background text-text">
		<header class="font-pixel p-2 bg-secondary bg-opacity-25 flex justify-between items-center">
			<a class="hover:text-neutral-400 hover:underline" href={l("/")}>{t("page.title")}</a>
			<LocaleSwitcher/>
		</header>

		<main class="container mx-auto py-8 px-4 md:px-12 flex flex-col gap-4">
			<slot />
		</main>

		<footer class="flex justify-between items-center p-2 h-12 bg-secondary bg-opacity-25">
			<p>
				&copy; 2024
			</p>
			<p>
				<a class="text-neutral-100 hover:text-primary" href={l("/impressum")}>
					Impressum
				</a>
			</p>
			<p class="h-6 flex gap-2 items-center">
				Social
				<a class="link hover:text-primary" href="https://www.instagram.com/_projectmothershipgame/"
				   target="_blank" title="Instagram">
					<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
						<path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
					</svg>
				</a>
			</p>
		</footer>
	</body>
</html>
