---
import '../styles/style.css';
import LocaleSwitcher from "../components/LocaleSwitcher.astro";
import { astroI18n, t } from "astro-i18n"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Website of the souls-inspired, cooperative rogue-like Project Mothership" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	</head>
	<body class="bg-background text-text">
		<header class="font-pixel p-2 bg-secondary bg-opacity-25 flex justify-between items-center">
			{t("page.title")}
			<LocaleSwitcher/>
		</header>

		<main class="container mx-auto py-8 px-4 md:px-12 flex flex-col gap-4">
			<slot />
		</main>

		<footer class="flex justify-between items-start p-2 bg-secondary bg-opacity-25">
			<p>
				&copy; 2024
			</p>
		</footer>
	</body>
</html>
