---
import '../styles/style.css';
import LocaleSwitcher from "../components/LocaleSwitcher.astro";
import { astroI18n, t } from "astro-i18n"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background text-text">
		<header class="font-pixel p-2 bg-secondary bg-opacity-25 flex justify-between items-center">
			{t("page.title")}
			<LocaleSwitcher/>
		</header>

		<main class="container mx-auto py-8 px-4 md:px-12 flex flex-col gap-4">
			<slot />
		</main>

		<footer class="flex justify-between items-start p-2 bg-secondary bg-opacity-25">
			<p>
				&copy; 2024
			</p>
		</footer>
	</body>
</html>
